#header{
    background-color: rgba(0, 0, 255, 0.56);
    color: white;
    span{
        width: 30%;
        display: inline-block;
    }
}
p{
    width: 30%;
    display: inline-block;
}
#nav{
    width: 90%;
    display: inline-block;
    background-color: blueviolet;
    color: silver;
}
#footer{
    color: hotpink;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}